.para{
align:justify;
position:relative;
bottom:350px;
height:400px;
width:1350px;
top:20px;
color:whitesmoke;
text-align: center;
Font-size:25px;
Font-style:Italic;
word-spacing:5px;
}
#a{
background-image:url('img/31.jpg');
background-size:cover;
background-attachment:fixed;
background-position:center;
align:justify;
position:relative;
}
#b{
background-image:url('img/book.webp');
background-size:cover;
background-attachment:fixed;
background-position:center;
align:justify;
position:relative;
}
#c{
background-image:url('img/food.webp');
background-size:cover;
background-attachment:fixed;
background-position:center;
color:black;
align:justify;
position:relative;
}
#d{
background-image:url('img/34.jpg');
background-size:cover;
background-attachment:fixed;
background-position:center;
align:justify;
position:relative;
}
h1{
    text-align: center;
}
